.navbar{
    width: 100%;
    background-color: black;
}
.menu-container{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.nav-link{
    text-decoration: none;
    color: white;
    margin-right: 15px;
 
}
.nav-link:hover,
.nav-link:focus{
    color: purple;
    background-color: black;
}
.nav-links li{
    margin: 10px 0;
}

